body {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caja {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 200px; */
  /* height: 300px; */
  border: solid;
  margin-top: 100px;
  width: 30%;
}

.boton {
  margin: 10px;
  padding: 10px;
  /* width: 80%; */
  /* contain: strict; */
}

.resultado {
  padding: 15px;
  margin-bottom: 10px;
}
